#header-text-content {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-image: url("../Imgs/hidrogenio-verde-card.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
}

#text-header {
    font-size: 2.5rem;
    padding: 1rem 0;
    backdrop-filter: blur(50px);
    text-shadow: 1px 1px 1px black;
}

#sub-text-header {
    font-size: 1.5rem;
    padding: 2rem 0;
    backdrop-filter: blur(50px);
    text-shadow: 1px 1px 1px black;
}

#carouselExample {
    width: 100%;
    border-radius: 10px;
}

.carrousel-img {
    height: 40em;
}

.img-side-carrosel {
    height: 40em;
    width: 100%;
}

#cards {
    gap: 5rem;
    padding: 2rem 1rem;
}


#card-item {
    color: white !important;
}

#card-item:hover {
    scale: 102%;
    rotate: 1deg;
    transition: all 0.3s ease-in-out;
}

.card-title {
    color: var(--verde-escuro);
}

.card-text {
    color: var(--marrom);
}

#artigos {
    color: var(--branco);
}

#contato {
    padding: 0 5rem;
}

.contato-container {
    background-color: var(--verde-escuro);
    border-radius: 10px;
}

.img-side-contato {
    width: 100%;
    height: 100%;
}

@media(max-width:1200px) {
    .carrousel-img {
        height: 30em;
    }

    .img-side-carrosel {
        height: 30em
    }

    .img-side-contato {
        height: 25em;
    }
}

@media(max-width:1000px) {
    .carrousel-img {
        height: 25em;
    }

    .img-side-carrosel {
        height: 25em
    }

    #carouselExample {
        width: 100%;
    }

    #contato {
        padding: 0 0;
    }
}

@media(max-width:768px) {
    #carouselExample {
        width: 100%;
    }

    #header-text-content {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    #text-header {
        font-size: 1.8rem;
    }

    #sub-text-header {
        font-size: 1.2rem;
    }


    .img-side-carrosel {
        display: none;
    }

    .img-side-contato {
        display: none;
    }

    .carrousel-img {
        height: 25em;
    }
}

@media(max-width:576px) {

    #artigos {
        font-size: 2rem;
    }

    #cards {
        gap: 5rem;
        padding: 2rem 2rem;
    }

    .carrousel-img {
        height: 15em;
    }
}