.conteudo_de_texto {
    padding-top: 10rem;
}

#contet-section-tema {
    background-color: var(--verde-texte-fundo);
}


.imagem-tema {
    max-width: 90%;
    border-radius: 10px;
}

#video {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    position: relative;
    margin: 0;
    z-index: 1;
}

.video-tema {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botao-voltar {
    top: 9rem;
}


#titulo-tema {
    font-size: 2.5rem;
}

#introducao-tema {
    font-size: 1.5rem;
}

.titulo-part-tema {
    font-size: 2.2rem;
}

.texto-part-tema {
    font-size: 1.2rem;
}

.espaco-texto {
    margin: 0 8rem;
}


.separador {
    margin-top: 8rem;
}

@media(max-width:992px) {
    .espaco-texto {
        margin: 0 6rem;
    }



    #video {
        height: 50vh;
    }

    .botao-voltar {
        top: 1rem;
    }
}

@media(max-width:800px) {

    #titulo-tema {
        font-size: 2rem;
    }

    #introducao-tema {
        font-size: 1.2rem;
    }

    .titulo-part-tema {
        font-size: 1.6rem;
    }

    .texto-part-tema {
        font-size: 1rem;
    }

    .espaco-texto {
        margin: 0 4rem;
    }
}

@media(max-width:600px) {
    .espaco-texto {
        margin: 0 0;
    }



    #video {
        width: 100%;
        height: 40vh;
        border-radius: 10px;
    }


}